In [1]:
samsung = 50000
result = samsung * 10
print(result)

500000

In [3]:
siga = "298조"
hyungega = "50,000원"
PER = "15.79"
print(f"시가총액 : {siga}\n현재가 : {hyungega}\nPER : {PER}")

시가총액 : 298조
현재가 : 50,000원
PER : 15.79

In [4]:
s = "hello"
t = "python"

print(f"실행 예:\n{s}! {t}")

실행 예:
hello! python

In [5]:
print(2 + 2 * 3)

8

In [ ]:
# 'str'(문자열) 데이터 타입 입니다.

In [8]:
num_str = "720"
print(int(num_str))

720

In [9]:
num = 100
print(str(num))

100

In [10]:
print(float("15.79"))

15.79

In [11]:
year = "2020"
year = int(year)

print(year + 1 , year + 2 , year + 3 , end = " ")

2021 2022 2023

In [12]:
air = 48584
print(air * 36)

1749024