In [ ]:
# "34"입니다.

In [ ]:
# "HiHiHi" 입니다.

In [1]:
print('-' * 80)

--------------------------------------------------------------------------------

In [5]:
t1 = 'python'
t2 = 'java'
print((t1 + " " + t2 + " ") * 4)

python java python java python java python java

In [11]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1 , age1))
print("이름: %s 나이: %d" % (name2 , age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [12]:
print("이름: {0} 나이: {1}".format(name1 , age1))
print("이름: {0} 나이: {1}".format(name2 , age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [13]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [15]:
sangang = "5,969,782,550"
sangang = int("".join(sangang.split(",")))
print(sangang)

5969782550

In [16]:
quantile = "2020/03(E) (IFRS연결)"
print(quantile[:7])

2020/03

In [17]:
data = "     삼성전자       "
print(data.strip())

삼성전자